@model WebApi.Models.ApplicationUser
@using Microsoft.AspNet.Identity.Owin
@using Microsoft.AspNet.Identity
@using WebApi.Models
@{
    Layout = null;
   

}

<form id="userFm" method="post">
    <h3>用户信息</h3>
    <div style="margin-bottom:10px">
        @Html.TextBoxFor(model => model.UserName, new { @class = "easyui-textbox", required = "true", label = Html.DisplayNameFor(m => m.UserName), style = "width:100%" })
    </div>
    <div style="margin-bottom:10px">
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "easyui-textbox", required = "true", label = Html.DisplayNameFor(m => m.PhoneNumber), style = "width:100%" })
    </div>
    <div style="margin-bottom:10px">
        @Html.TextBox(Html.NameFor(model => model.PhoneNumberConfirmed).ToString(), "true", new { @class = "easyui-checkbox", label = Html.DisplayNameFor(model => model.PhoneNumberConfirmed) })
    </div>
    <div style="margin-bottom:10px">
        @Html.TextBoxFor(model => model.Email, new { @class = "easyui-textbox", required = "true", validType = "email", label = Html.DisplayNameFor(m => m.Email), style = "width:100%" })
    </div>
    <div style="margin-bottom:10px">

        @Html.TextBox(Html.NameFor(model => model.EmailConfirmed).ToString(), "true", new { @class = "easyui-checkbox", label = Html.DisplayNameFor(model => model.EmailConfirmed) })

    </div>
    <div style="margin-bottom:10px">

        @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetNames(typeof(WebApi.Models.Status)), Enum.GetNames(typeof(WebApi.Models.Status))[0]), new { @class = "easyui-combobox", required = "true", label = Html.DisplayNameFor(m => m.Status), style = "width:100%" })

    </div>
    <div style="margin-bottom:10px">
        @foreach (var r in (IEnumerable<SelectListItem>)ViewBag.selectedRoles)
        {
            <input type="checkbox" name="RoleNames" value="@r.Text" checked="@r.Selected" />
            @Html.Label(r.Text)
        }

    </div>
</form>
