@model WebApi.Models.ApplicationUser





<table id="dg" title="用户列表" class="easyui-datagrid" style="width:100%;height:100%" ;margin:0;
       url="@Url.HttpRouteUrl("DefaultApi", new { controller = "User" })"
       method="Get"
       toolbar="#toolbar" pagination="true"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="Id" width="100">主键</th>
            <th field="UserName" width="100">用户名</th>
            <th field="PhoneNumber" width="100">手机号</th>
            <th field="PhoneNumberConfirmed" width="100">手机号验证</th>
            <th field="Email" width="100">电子邮箱</th>
            <th field="EmailConfirmed" width="100">邮箱验证</th>
            <th field="StatusString" width="100">账号状态</th>

        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="userHandler.newUser()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="userHandler.editUser()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="userHandler.destroyUser()">删除</a>
</div>

<div id="dlg" class="easyui-dialog fe" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
        <h3>用户信息</h3>
        <div style="margin-bottom:10px">

            @Html.TextBoxFor(model => model.UserName, new { @class = "easyui-textbox", required = "true", label = Html.DisplayNameFor(m => m.UserName), style = "width:100%" })

        </div>
        <div style="margin-bottom:10px">

            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "easyui-textbox", required = "true", label = Html.DisplayNameFor(m => m.PhoneNumber), style = "width:100%" })

        </div>

        <div style="margin-bottom:10px">

            @Html.TextBox(Html.NameFor(model => model.PhoneNumberConfirmed).ToString(), "true", new { @class = "easyui-checkbox", label = Html.DisplayNameFor(model => model.PhoneNumberConfirmed) })

        </div>
        <div style="margin-bottom:10px">

            @Html.TextBoxFor(model => model.Email, new { @class = "easyui-textbox", required = "true", validType = "email", label = Html.DisplayNameFor(m => m.Email), style = "width:100%" })

        </div>
        <div style="margin-bottom:10px">

            @Html.TextBox(Html.NameFor(model => model.EmailConfirmed).ToString(), "true", new { @class = "easyui-checkbox", label = Html.DisplayNameFor(model => model.EmailConfirmed) })

        </div>
        <div style="margin-bottom:10px">

            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetNames(typeof(WebApi.Models.Status)), Enum.GetNames(typeof(WebApi.Models.Status))[0]), new { @class = "easyui-combobox", required = "true", label = Html.DisplayNameFor(m => m.Status), style = "width:100%" })

        </div>
        <div style="margin-bottom:10px">
            @foreach (var name in (IEnumerable<string>)ViewBag.RoleNames)
            {
                <input type="checkbox" name="RoleNames" value="@name" />
                @Html.Label(name)
            }

        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a id="save" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" style="width:90px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>
@section scripts{
<script type="text/javascript">
    var userHandler = {};
        userHandler.url="@Url.HttpRouteUrl("DefaultApi",new { Controller="User"})"+"/";
    userHandler.newUser=function() {
            $('#dlg').dialog('open').dialog('center').dialog('setTitle', '添加用户');
            $('#fm').form('clear');
            $("#save").click(postSave);
        }
    userHandler.editUser = function () {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle', '编辑用户');
                $.get(url, { id: row.Id }, function (data) {
                    $('#fm').form('load', data.User);
                    $('#status').val(data.User.StatusString);
                    $.each(data.Roles, function (index, item) {
                        $("[value=" + item.Name + "]").prop("checked", item.Selected == true);
                    });
                });
                $("#save").click(function () {
                    putSave(row);
                });
            }
        }
    userHandler.postSave = function () {
            if (!$("#fm").form("validate")) return false;
            var data = $("#fm").serialize();
            $.ajax({
                url:url,
                type: "Post",
                data: data,
                success: function (result) {
                    $('#dlg').dialog('close');
                    $('#dg').datagrid('reload');
                }
            }).fail(function (jqxhr) {
                var result = jqxhr.responseJSON
                $.messager.show({
                    title: 'Error',
                    msg: result.Message
                });
            });
        }
    userHandler.putSave = function (row) {
            if (!$("#fm").form("validate")) return false;
            var data = $("#fm").serialize();
            $.ajax({
                url: url + row.Id,
                type: "Put",
                data: data,
                success: function (result) {
                    $('#dlg').dialog('close');
                    $('#dg').datagrid('reload');
                }
            }).fail(function (jqxhr) {
                var result = jqxhr.responseJSON
                $.messager.show({
                    title: 'Error',
                    msg: result.Message
                });
            });
        }

    userHandler.destroyUser = function (row) {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $.messager.confirm('确认', '你确定要删除该用户？', function (r) {
                    if (r) {
                        $.ajax({
                            url: url + row.Id,
                            type: "Delete",
                            success: function (data) {
                                $('#dg').datagrid('reload');
                            }
                        }).fail(function (jqxhr) {
                            var result = jqxhr.responseJSON
                            $.messager.show({
                                title: 'Error',
                                msg: result.Message
                            });
                        })
                    }
                });
            }
        }
</script>
}