@model WebApi.Models.LoginViewModel
@section Search{
<form method="get" class="form-inline" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
</form>
}
@section Carousel{
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect fill="#777" width="100%" height="100%" /></svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>产品1</h1>
                    <p>简介1</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">了解更多</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect fill="#777" width="100%" height="100%" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>产品2</h1>
                    <p>简介2</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">了解更多</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect fill="#777" width="100%" height="100%" /></svg>
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>产品3</h1>
                    <p>简介3/p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">了解更多</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">登陆</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Login", "Account",new { returnUrl=Request.Url.ToString()}))
            {
                @Html.AntiForgeryToken();
            <div class="modal-body">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Email, new { @class = "col-4" })
                    <div class="col-8">
                        @Html.TextBox("Email","admin@example.com",new { @class="form-control"})
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Password, new { @class = "col-4" })
                    <div class="col-8">
                        @Html.TextBox("Password",123456, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-check offset-4">

                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.RememberMe, new { @class = "form-check-label" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">登陆</button>
            </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <!-- List of products（产品列表） -->
    <div class="col-12">
        <h1>Products</h1>
        <div class="row" data-bind="foreach:products">
            <div class="col-md-4" data-bind="with:product">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%" /><text fill="#eceeef" dy=".3em" x="50%" y="50%">Product</text></svg>
                    <div class="card-body">
                        <p class="card-text">产品简介</p>
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="">
                                <div data-bind="text: Name"></div>
                                <span class="text-success" data-bind="text: '$' + Price"></span>
                                <div class="row">
                                    <div class="col-4">
                                        <input type="text" data-bind="value:$parent.Quantity" class="form-control form-control-lg" />
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-sm btn-primary" data-bind="click:$parent.add">Add</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm" data-bind="click: $parent.addToCart">添加到购物车</button>
                        </div>
                    </div>
                </div>
            </div>

        </div> 
    </div>
 
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.5.1.js")"></script>
    <script>
        function AppViewModel() {
            var self= this;
            self.products = ko.observableArray();
            var productUrl = "/api/Products/";
            function ProductViewModel(root, product) {
                var self = this;
                self.product = product;
                self.Quantity = ko.observable(0);
                self.addToCart = function () {
                    if ("@Context.User.Identity.IsAuthenticated" == "False") {
                        $('#exampleModalCenter').modal();
                   
                    }
                   else location.href = "/Home/CartIndex";
                  
                };
                self.add = function ()
                {
                    var q = self.Quantity();
                    self.Quantity(q + 1);
                }
                self.removeFromCart = function () {
                    root.cart.remove(self);
                    self.Quantity(0);
                };
            }

            self.loadProducts = function () {
                $.get(productUrl, null, function (data) {
                    $.each(data, function (index, item) {
                        self.products.push(new ProductViewModel(self, item));
                    });
                });
            };
            self.loadProducts();
        }
        ko.applyBindings(new AppViewModel());
    </script>
}